@import "../../assets/scss/base/variables";
@import "../../assets/scss/base/colors";
@import "../../assets/scss/base/mixins";

.item__cotnainer {
  padding: 30px 0;
  margin: 0 40px 0 50px;
  display: grid;
  grid-template-columns: 15% 1fr;
  border-bottom: $reportListItemSeparator;

  .item-index__element {
    margin: 20px auto;

    .item-index__date {
      font-weight: 500;
    }
    .item-index__date > p:first-child {
      margin-bottom: 5px;
    }

    .item-index__category {
      font-weight: 200;
    }
  }

  .item-index__element > *:not(:first-child) {
    display: inline-block;
    margin-top: 10px;
  }

  .item-value {
    grid-template-rows: repeat(3, 1fr);


    .item-value__actions {
      gap: 10px;
      .item-value__action__view-details,.accordion {
        display: inline-block;
        margin-right: 20px;
      }
    }
    p {
      margin: 10px 0;
    }
  }
  .item-value > * {
    align-self: flex-start;
  }
}

