@import '../../assets/scss/base/variables';
@import '../../assets/scss/base/mixins';

.tag__container {
  display: flex;
  padding: 10px 20px 10px 10px;
  border: $filterBorderInactive;
  background: $filterInactiveBg;
  color: $primaryGrayCol;
  border-radius: 6px;
  position: relative;
  margin-right: 15px;
  transition: all 0.25s;

  p {
    margin: 0 30px 0 0;
    line-height: 1;
    font-weight: 500;
    user-select: none;
  }

  span {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 100%;
    @include flxCenter();
  }
}

.active {
  background: $filterActiveBg;
  border: $filterBorderActive;
  color: $fontColorPrimary;
}
