@import "../../assets/scss/base/colors";
@import "../../assets/scss/base/variables";

.reports-list__container {
  background: $white_1;
  li {
    list-style: none;
  }

  .no-results {
    padding: 30px;
    text-align: center;
    font-size: 1.25rem;
  }
}

:host::ng-deep {
  li:last-child {
    .item__cotnainer {
        border-bottom: none;
    }
  }
}
