// fonts
$fontColorPrimary: #242424;
$fontColorSecondary: #ffffff;
$fontColorBlack: #0a0a0a;

$primaryBlue_light: #64c1d3;
$gray_1: #9c9c9c;

// tags tiles
$tagBorderColor_active: #64c1d326;
$tagBorderColor_inactive: #cacaca;

// backgrounds
$white_1: #ffffff;
$white_2: #f2f2f2;

// others
$black: #000000;
