// fonts
$fontColorPrimary: #242424;
$fontColorSecondary: #ffffff;

$listItemHeaderCol: #0a0a0a;
$linkCol: #64c1d3;
$primaryGrayCol: #9c9c9c;

// filters
$filterActiveBorderColor: #64c1d326;
$filterInactiveBorderColor: #cacaca;

$filterBorderActive: 1px solid $filterActiveBorderColor;
$filterBorderInactive: 1px solid $filterInactiveBorderColor;

$filterActiveBg: rgba(215, 255, 249, 0.42);
$filterInactiveBg: #FFFFFF;

// backgrounds
$bodyBg: #f2f2f2;
$whiteBg: #ffffff;
$btnBg: #64c1d3;

// others
$underline: #000000;
$defaultHoverShadow: 0 0 5px rgb(195, 195, 195);
