// fonts
$fontPrimary: hsl(0, 0%, 14%);
$listItemHeaderCol: hsl(0, 0%, 4%);
$linkCol: hsl(190, 56%, 61%);
$primaryGrayCol: hsl(0, 0%, 61%);
$secondaryCol: hsl(0, 0%, 100%);;

// filters
$filterInactiveBg: hsl(0, 0%, 100%);
$filterInactiveBorder: hsl(0, 0%, 61%);

$filterActiveBg: hsla(190, 56%, 61%, 12%);
$filterActiveBorder: hsla(190, 56%, 61%, 15%);


// backgrounds
$bodyBg: hsl(0, 0%, 95%);
$whiteBg: hsl(0, 0%, 100%);
$btnBg: hsl(190, 56%, 61%);

// others
$underline: hsl(0, 0%, 0%);
