@import "./colors";

// tag tile
$tagBorder--active: 1px solid $tagBorderColor_active;
$tagBorder--inactive: 1px solid $tagBorderColor_inactive;

$tagBg--active: rgba(215, 255, 249, 0.21);

// general
$appContainerMaxWidth: 65%;

// common
$hoverShadow--default: 0 0 5px rgb(195, 195, 195);


// list item
$reportListItemSeparator:  1px solid $white_2;
