<div class="select__container"  [ngClass]="expanded ? 'expanded' : ''">
  <div class="select__label" (click)="toggleOptions()">
    <div class="selected__item">{{selectedItem}}</div>
    <div class="select__expand-icon">
      <img
        class="expand-chevron"
        src="../../assets/icons/chevron-down.svg"
        alt="expand-icon">
    </div>
  </div>

  <div class="select__options__container">
    <div
      *ngFor="let item of availableItems"
      class="select-option"
      (click)="select(item)"
    >{{item}}
    </div>
  </div>
  <span class="input__underline"></span>
</div>
