@import "../../assets/scss/base/colors";
@import "../../assets/scss/base/mixins";
@import "../../assets/scss/base/variables";


.select__container {
  width: 100%;
  height: 100%;

  .select__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 15px 15px;

    span {
      display: inline-block;
    }

    .select__label > span:first-child {
      margin-right: auto;
    }

    .select__expand-icon {
    }

    .selected__item {
      min-width: 70px;
    }

    .expand-chevron {
      transition: all 0.3s;
    }
  }

  .select__options__container {
    border: $tagBorder--active;
    transition: max-height, opacity 0.3s;
    position: absolute;
    max-height: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    z-index: +1;

    .select-option {
      min-width: 150px;
      background: $white_1;
      padding: 15px 30px;
    }

    .select-option:hover {
      box-shadow: inset 0 0 1px 1px $primaryBlue_light;
    }
  }
}

.select__container.expanded {
  .select__options__container {
    opacity: 1;
    max-height: 50px;
  }

  .expand-chevron {
    transform: rotate(-180deg);
  }
}

fa-icon {
}
