@import '../assets/scss/base/colors';
@import '../assets/scss/base/variables';

.app__container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $white_2;

  .content__container {
    width: $appContainerMaxWidth;
  }

  .header__container {
    width: $appContainerMaxWidth;
  }
}
