@import "colors";

.header__container {
  padding: 40px;
  display: grid;
  width: 100%;
  grid-template-columns: 20% 1fr 20%;

  img {
    cursor: pointer;
  }

  h1 {
    margin: 0;
  }
}

.header__container > * {
  align-self: center;
}
