<div class="search-controller__container">
  <div class="inputs-container">
    <div class="date-input">
      <mat-form-field>
        <mat-select
          (selectionChange)="updateDate($event)"
          panelClass="select-option__overlay"
          [value]="searchCriteria.dates[searchCriteria.selectedDateIndex]"
        >
          <mat-option *ngFor="let date of searchCriteria?.dates" [value]="date">
            {{date}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="search-input">
      <input
        class="search"
        type="text"
        value="{{searchCriteria.phrase}}"
        placeholder="{{searchCriteria.placeholder}}">
      <button class="search-btn" (click)="search()">Wyszukaj</button>
    </div>
  </div>
  <div>
    <div class="tags-container" *ngIf="searchCriteria?.tags else tagsEmpty">
      <div *ngFor="let tag of searchCriteria.tags">
        <efi-tag [tag]="tag" (tagStateChange)="updateSelectedTags($event)"></efi-tag>
      </div>
    </div>
  </div>

  <ng-template #tagsEmpty>
    <div class="empty-tag-message">
      <p>No tags provided.</p>
    </div>
  </ng-template>
