@import 'colors';
@import 'variables';

.search-controller__container {
  display: flex;
  flex-direction: column;
  padding: 35px 45px 40px 50px;
  background: $white_1;
  gap: 20px;

  .inputs-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .date-input {
      margin-right: 30px;
    }

    .text-input__container {
      width: 100%;
    }
    .text-inputinput, .mat-form-field {
      width: 100%;
      position: relative;
    }
  }

  .inputs-container:first-child {
    flex-grow: 0.2;
  }

  .inputs-container:last-child {
    flex-grow: 0.8;
  }

  .tags-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
  }

}

:host::ng-deep {
  .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0;
  }

  mat-form-field {
    box-shadow: 0 0 10px 0 rgb(195, 195, 195);

    input {
      width: 60%;
      text-overflow: ellipsis;
      overflow-y: hidden;
    }
  }

  .mat-form-field-infix {
    padding: 5px 25px 15px 30px;
    background: $white_2;
  }

  .mat-form-field-wrapper {
    padding: 0;
  }

  .mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 2px;
  }

  .mat-form-field-underline {
    position: absolute;
    bottom: 0;
  }
}

::ng-deep .mat-select-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
  margin: 0 4px;
}

@media (width < 500px) {

  .search-controller__container {
    width: 100%;
    padding: 0 20px;
  }
}

@media (width < 600px) {
  .inputs-container > .date-input {
    width: 100%;
    margin-right: 0 !important;
  }
}

@media (width < 800px) {
  div.tags-container {
    display: grid !important;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
  }

  .inputs-container {
    flex-wrap: wrap;
  }
}

