@import '../../assets/scss/base/variables';

.search-controller__container {
  display: flex;
  flex-direction: column;
  padding: 35px 45px 40px 50px;
  background: $whiteBg;
  gap: 20px;

  .inputs-container {
    display: flex;
    align-items: center;
    gap: 10px;

    .date-input {
      margin-right: 30px;
    }

    .search-input, .mat-form-field {
      width: 100%;
      position: relative;
    }

    .search-input {
      min-width: 380px;

      .search-btn {
        border-radius: 40px;
        min-width: 120px;
        position: absolute;
        padding: 8px;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        background: $btnBg;
        color: $fontColorSecondary;
        border: none;
      }
    }
  }

  .inputs-container:first-child {
    flex-grow: 0.2;
  }

  .inputs-container:last-child {
    flex-grow: 0.8;
  }

  .tags-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
  }

}

:host::ng-deep {
  .mat-form-field-appearance-fill .mat-form-field-flex {
    padding: 0;
  }

  mat-form-field {
    box-shadow: 0 0 10px 0 rgb(195, 195, 195);
  }

  .mat-form-field-infix {
    padding: 5px 25px 15px 30px;
    background: $whiteBg;
  }

  .mat-form-field-wrapper {
    padding: 0;
  }

  .mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 2px;
  }

  .mat-form-field-underline {
    position: absolute;
    bottom: 0;
  }
}

::ng-deep .mat-select-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid;
  margin: 0 4px;
}

::ng-deep .select-option__overlay.mat-select-panel {
  transform: translate(8px, 44px) !important;
}


@media screen and (max-width: 500px) {

  .search-controller__container {
    width: 100vw;
    padding: 0 20px;

    div.tags-container {
      display: grid;
      grid-auto-flow: row;
      grid-template-columns: 1fr 1fr;
    }
  }

}
@media screen and (max-width: 800px) {

  .inputs-container {
    flex-wrap: wrap;
  }
}

