@import '~normalize.css';
@import 'assets/scss/base/colors';
@import './assets/scss/base/colors';
@import "./assets/scss/base/variables";
@import "./assets/scss/base/typography";
@import "./assets/scss/base/links";
@import "./assets/scss/components/inputs";
@import "./assets/scss/components/tag-tile";
@import "./assets/scss/components/buttons";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $white_2 inset !important;
}
