@import "../../assets/scss/base/colors";
@import "../../assets/scss/base/mixins";

.accordion__container {
  display: flex;
  flex-direction: column;
  position: relative;

  button {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 10px 10px 0;

    .expand-chevron {
      cursor: pointer;
      transition: all 0.25s;
      transform: rotate(180deg);
      color: $primaryBlue_light;
    }
  }

  .accordion-underline {
    transition: max-width 0.5s;
    height: 1px;
    max-width: 0;
    background: $white_2;
  }

  .expansion-panel {
    transition: all 0.25s ease-out;
    position: relative;
    top: 100%;
    left: 0;
    opacity: 0;
    max-height: 0;
    display: flex;
    flex-direction: column;

    .file-link {
      padding: 10px 0;
    }
  }

}

.accordion__container.visible {

  button {

    .expand-chevron {
      transform: rotate(360deg);
    }
  }

  .accordion-underline {
    max-width: 300px;
  }

  .expansion-panel {
    max-height: 500px;
    opacity: 1;
  }
}
