@import "colors";

.accordion__container {

  .accordion {
    display: flex;
    align-items: center;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    background: none;
  }

  img {
    transition: all 0.10s;
    color: $linkCol;
    transform: rotate(180deg);
  }

  span {
    display: block;
    width: 100%;
  }

  .expansion-panel {
    span {
      margin: 5px 0;
    }
  }

  .hidden {
    .expansion-panel {
      height: 0;
      opacity: 0;
    }
  }

  .visible {
    .expansion-panel {
      height: 100%;
      opacity: 1;
      background: mediumpurple;
    }
    img {
      transform: rotate(180deg);
    }
  }

}
.visible {
  img {
    transform: rotate(360deg);
  }
}
